/* Styling sheet for the html components */

.button {
    width: 50px;
    padding: 5px;
    height: 30 px;
    background-color:  #152789;
    color: white;
}

h3 {
    color:  #1f34a1 !important;
    font-weight: bold;
}

hr {
    border: 2px solid #1f34a1 !important;
    border-radius: 2px;
    opacity: 0.8;
}

.main-container {
    background-color: #dadce6;
    border: 5px solid  #6e6f73;
    padding: 10px;
    border-radius: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.dashboard-title {
    text-align: center;
    margin-bottom: 20px;
    color:  #1f34a1;
    font-weight: bold;
}

.selection-row, .controls-row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    padding: 5px;
    border: 2px solid #6e6f73;
    border-radius: 5px;
}

.graph-selection-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 5px;
    margin-bottom: 10px;
}
.selector-container, .control-container {
    flex: 1;
}

.shap-lime-container {
    border: 2px solid #6e6f73;
    border-radius: 5px;
    padding: 5px;
}

.feature-importance-partial-dependence-container {
    border: 2px solid #6e6f73;
    border-radius: 5px;
    padding: 5px;

}

.dropdown-label, .input-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #1f34a1;
}

.dropdown, .number-input {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #bdc3c7;
}

.plot-selection-container {
    display: flex;
}

.graph-label {
    text-align: center;
    margin-bottom: 20px;
    color: #2c3e50;
}

.visualization-row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.graph-selection-row-feature-importance {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    padding: 5px;
}

.plot-container {
    border: 1px solid #ecf0f1;
    border-radius: 4px;
    background: white;
    width: 560px;
    height: 600px;
}

.dropdown-graphs {
    width: 300px;
}

.dropdown-shap-lime {
    width: 1000px;
}
.dropdown-partial-dependence {
    width: 200px;
}

#shap-additional-filtering {
    width: 100px;
}

.modal-widgets-row {
    display: flex;
    flexWrap: wrap;
    gap: 10px;
}

.plot-container-big {
    margin-top: 10px;
    width: 100%;
    height: 600px;
}

.filter-options {
    display: flex;
    padding: 10px;
}

.slider {
    color:  #1f34a1;
}

.show-lime-instance {
    margin-bottom: 10px !important;
    padding: 5px;
}